.service-container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.service-info-container {
    padding-bottom: 60px;
    margin-bottom: 60px;
    border-bottom: 1px solid #e0dede;
}

.service-info-heading {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 400;
}

.service-info-body {
    margin-bottom: 32px;
    font-size: 16px;
}

.service-add-info {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 20px;
}

.service-add-info-img {
    width: 140px;
    height: 140px;
    margin-bottom: 20px;
    border: 1px solid #000000;
}

.service-add-info-time {
    float: left;
}

.service-add-info-price {
    float: right;
}

.btn {
    margin-top: 16px;
    width: 100%;
}

.no-margin {
    margin-bottom: 0;
}

.service-cancel-policy {
    font-size: 16px;
}

.service-cancel-policy-heading {
    margin-top: 10px;
    margin-bottom: 16px;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 400;
}

/* Media Queries */

@media(min-width: 769px) {
    .service-info-body {
        margin-bottom: 8px;
        font-size: 18px;
    }

    .btn {
        margin-top: 8px;
    }
}