@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap:100,200,300,400,500,600,700');

/* Colors */

.bg-color-navbar {
    background: #6e6a6a;
}

/* Special paddings/margins/texts */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Slab", sans-serif;
}

/* Heading */

header {
    display: block;
    top: 0;
    left: 0;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.logo-icon {
    height: 50px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.logo-text {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .2px;
    margin: 5px 10px 5px 10px;
    text-transform: uppercase;
}

.navbar .navbar-nav a {
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.nav-item {
    text-align: center;
}

.nav-item a {
    color: rgba(29, 27, 27, 0.5);
}

#mainNav {
    padding: 16px 16px 16px 0px;
}

#mainNav li {
    font-size: 14px;
    padding: 5px;
}

.active {
    font-weight: 700;
    color: #ffffff;
}

.navbar .navbar-toggler {
    border: 1px solid #504e4e;
}

.navbar-collapse {
    align-items: center;
}

/* Hover.css */

.nav-item a:hover {
    background-color: #504e4e;
    color: #6e6a6a;
    border-radius: 12px;
}

/* Media Queries */

@media(min-width: 769px) {
    .navbar {
        height: 60px;
    }
    
    .logo-text {
        font-size: 32px;
    }
}